<div class="p-2">
    <div class="">
        <strong>Nome</strong>: {{ data.nome }}
    </div>
    <div class="">
        <strong>Quantidade</strong>: {{ data.quantidade }}
        <input [hidden]="data.quantidade === 1" type="number" [(ngModel)]="quantidade" placeholder="Selecione a quantidade">
    </div>
    <div class="">
       <strong>Valor</strong>: {{ data.valor | currency }}
    </div>
    <div class="">
        <strong>Fabricante</strong>: {{ data.fabricante }}
    </div>

    <div *ngIf="clientes.length > 0">
        <label for=""><strong>Nome do cliente</strong></label>
        <select #cliente (change)="setCliente(cliente.value)">
            <option *ngFor="let item of clientes" [value]="item.id">
                {{ item.nome }}
            </option>
        </select>
    </div>

    <div *ngIf="clientes.length === 0">
        <strong>
            Para realizar uma venda e necessario ter um cliente cadastrado.
        </strong>
    </div>

    <div>
        <label for=""><strong >Forma de pagamento</strong></label>
        <select #tipoPagamentoHtml (change)="setTipoPagamento(tipoPagamentoHtml.value)">
            <option *ngFor="let item of tipoPagamento" [value]="item">
                {{ item }}
            </option>
        </select>
    </div>


    <button class="btn btn-success mt-2" [disabled]="clientes.length === 0" (click)="vender()">Confirmar venda</button>
</div>