<div class="d-flex justify-content-center margin-top">
  <form [formGroup]="form">
    <div class="row">
      <input
        type="text"
        id="login"
        name="login"
        class="form-control"
        placeholder="Login"
        formControlName="login"
      />
    </div>
    <div class="row mt-1">
      <input
        type="password"
        id="senha"
        name="senha"
        class="form-control"
        placeholder="Senha"
        formControlName="senha"
      />
    </div>
    <div class="col" *ngIf="!isLogin">
      <select name="admin" class="form-control" formControlName="admin">
        <option *ngFor="let item of list" [value]="item">{{ item }}</option>
      </select>
    </div>
    <div class="row btn-group mt-2">
      <button button (click)="loginOrCadastrar()" mat-raised-button color="primary">{{(isLogin)? 'Entrar' : 'Cadastrar'}}</button>
      <button *ngIf="isLogin" class="btn btn-warning btn-sm mt-1" (click)="isLogin = false">Cadastrar usuario</button>
  
    </div>
    </form>
</div>
